#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.operators{
  display: flex;
  gap:9px;
  margin: 20px;
}

.operators button{
  background-color: orangered;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.number-row{
  margin: 10px;
  display: flex;
  gap: 6px;
  align-items: center;
  justify-content: center;
}

.inputBox{
  height: 30px;
  margin-bottom: 12px;
}